$lightGreen: #b9e7e7;
$darkBrown: #795438;
$cream: #f1dbc9;
$lightBrown: #d0ac8f;
$pinkBrown: #bc9c8e;
$brownGreen: #766f62;

//REUSABLE
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: inherit;
}

.title {
  font-size: 30px;
  color: $cream;
}

.desc {
  font-size: 14px;
  color: $pinkBrown;
}
.relative {
  position: relative;
}
////////////////////////////////////////
.app {
  .container {
    //LOGIN AND REGISTER
    .auth {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: $lightGreen;

      h1 {
        font-size: 20px;
        color: teal;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 30px;
        background-color: white;
        gap: 20px;
        width: 200px;

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid gray;
        }

        button {
          padding: 10px;
          border: none;
          background-color: teal;
          color: white;
          cursor: pointer;
          border-radius: 5px;
        }

        p {
          font-size: 16px;
          color: red;
          text-align: center;
        }

        span {
          font-size: 16px;
          text-align: center;
        }
      }
    }
    //---------------------------NAVBAR--------------------------
    nav {
      justify-content: space-between;
      padding: 20px 60px;
      color: $darkBrown;

      .logo {
        img {
          height: 50px;
        }
      }

      .content {
        gap: 20px;

        .cats {
          gap: 10px;
        }

        .write {
          background-color: $lightBrown;
          color: $darkBrown;
          font-size: 12px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          &:hover {
            width: 48px;
            height: 48px;
            background-color: $cream;
            color: $darkBrown;
            border: 1px solid $lightBrown;
          }
        }

        .user {
          gap: 10px;

          span {
            cursor: pointer;
          }
        }
      }
    }
  }
}
//---------------------------FOOTER--------------------------
.footer {
  height: 80px;
  background-color: $lightBrown;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  margin-top: 20px;
  margin-bottom: 0;
  position: relative;
  bottom: -60px;

  .info {
    h1 {
      color: $brownGreen;
    }
    p {
      color: $darkBrown;
    }
  }

  .social {
    gap: 30px;
    color: $darkBrown;
    font-size: 30px;
  }
}

//-------------------------HOME--------------------------------
.home {
  gap: 40px;

  article {
    display: flex;
    flex-direction: row;

    gap: 60px;
    padding: 0 200px;
    position: relative;

    &:nth-child(2n + 1) {
      flex-direction: row-reverse;
    }

    .img {
      flex: 1;
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: $cream;
        position: absolute;
        top: 10px;
        left: -15px;
        z-index: -1;
        border-radius: 10px;
      }

      img {
        width: 100%;
        object-fit: cover;
        position: relative;
        border-radius: 10px;
      }
    }

    .content {
      flex: 2;
      justify-content: space-between;

      h1 {
        color: $cream;
      }

      span {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }

      button {
        width: max-content;
        padding: 10px 20px;
        border: none;
        color: $pinkBrown;
        border: 1px solid $lightBrown;
        background-color: $cream;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}

/* ---------------------------------- SINGLE -------------------*/
.single {
  justify-content: space-between;
  padding: 20px 200px;
  gap: 150px;
  .content {
    flex: 2;
    gap: 30px;

    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }

    .info {
      justify-content: space-between;
      font-size: 12px;
      color: $darkBrown;

      .user {
        gap: 20px;
        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
          border-radius: 50%;
        }
        .edit {
          gap: 15px;

          .edit_edit {
            font-size: 24px;
            color: $brownGreen;
          }

          .edit_delete {
            font-size: 24px;
            color: $darkBrown;
            cursor: pointer;
          }
        }
      }
    }

    article {
      gap: 20px;

      h1 {
      }

      p {
        text-align: justify;
        line-height: 30px;
      }
    }
  }

  .menu {
    flex: 1;
    gap: 40px;
    align-items: center;

    h1 {
      color: $brownGreen;
    }

    article {
      gap: 20px;

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      h1 {
        font-size: 20px;
        color: $brownGreen;
      }

      button {
        width: fit-content;
        padding: 5px 10px;
        border: none;
        background-color: $cream;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}

//Write

.add {
  gap: 20px;
  padding: 20px 60px;

  .content {
    flex: 2;
    gap: 20px;

    input {
      width: 100%;
    }

    .context-textarea {
      height: 300px;
    }
  }
  .menu {
    flex: 1;
    gap: 20px;

    .item {
      border: 0.5px solid lightgray;
      padding: 10px 20px;

      h1 {
        font-size: 25px;
        color: $pinkBrown;
      }
      p {
        color: $darkBrown;
        line-height: 25px;
      }

      .img_upload {
        label {
          color: $darkBrown;
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .button {
        justify-content: space-between;

        button {
          padding: 5px 10px;
        }

        :first-child {
          color: $darkBrown;
          background-color: $cream;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
        :last-child {
          color: $cream;
          background-color: $darkBrown;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
      }

      // categories

      .cat {
        gap: 10px;
        cursor: pointer;
        color: $darkBrown;
      }
    }
  }
}
