$lightGreen: #b9e7e7;

//REUSABLE
.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    color: inherit;
}

////////////////////////////////////////
.app {


    .container {




        //LOGIN AND REGISTER
        .auth {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: $lightGreen;

            h1 {
                font-size: 20px;
                color: teal;
                margin-bottom: 20px;
            }

            form {
                display: flex;
                flex-direction: column;
                padding: 30px;
                background-color: white;
                gap: 20px;
                width: 200px;

                input {
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                }

                button {
                    padding: 10px;
                    border: none;
                    background-color: teal;
                    color: white;
                    cursor: pointer;
                    border-radius: 5px;
                }

                p {
                    font-size: 16px;
                    color: red;
                    text-align: center;
                }

                span {
                    font-size: 16px;
                    text-align: center;
                }
            }
        }
//NAVBAR
nav {
    justify-content: space-between;
    padding: 20px 60px;


    .logo {

        img {

            height: 50px;
        }
    }

    .content {
        gap: 20px;

        .cats {
            gap: 10px;
        }

        .write {
            background-color: teal;
            font-size: 12px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                width: 48px;
                height: 48px;
                background-color: white;
                color: teal;
                border: 1px solid teal;
            }
        }

        .user {
            gap: 10px;

            span {
                cursor: pointer;
            }
        }
    }
}
    }
}